@page
@model ConfigPortal.Pages.AuthenticationPageModel
@{
    ViewData["Title"] = "AuthenticationPage";
}
<link rel="stylesheet" type="text/css" href="bootstrap.css">
<style>
    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
    

   </style>

<body class="bg-dark">

</body>
<h1 class=" text-center  text-white alert-warning text-justify  container text-secondary">Authentication Page</h1>
<form method="post">
    <div id="rolemaster0" class="border border-dark " style="padding:10px;margin:10px;border-radius:17px;">
        <br>
        <div class="text-center text-success">
            <h4>Role Id  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: <input id="role_id" name="role_id" class="input-sm input--style-5  " type="text" maxlength="30" style="border-radius:7px;" /></h4>

            <br>
            <h4>Role Name&nbsp:&nbsp<input id="role_name" name="role_name" class="input--style-5" type="text" maxlength="30" style="border-radius:7px;" /></h4>
            <div class="alert alert-danger" role="alert" style="display:@Model.error_display">
                Role with same name already Exists, Please chose an unique name.
            </div>
        </div>
        <br>
        <br>


        @foreach (var table in Model.dbstructure.Properties())
        {
            <div class="border border text-success" style="padding:10px;margin:10px;border-radius:17px; background: #363738;">
                @{string TableName = table.Name.ToString();}

                <h4 class="text-info">Table Name : @TableName</h4>

                <br />


                <h4 class="text-white">Column Operation</h4>
                <div class="border border-light text-white-50"style="border:solid 10px; border-radius:7px;border-color:white; ">
                    <label class="col-md-1"><input type="checkbox" id="c-@TableName" onclick="enable_toggle('@TableName.ToString()')" name="c-@TableName" value="c">Create</label>
                    <label class="col-md-1"><input type="checkbox" id="r-@TableName" onclick="enable_toggle('@TableName.ToString()')" name="r-@TableName" value="r">Read</label>
                    <label class="col-md-1"><input type="checkbox" id="u-@TableName" onclick="enable_toggle('@TableName.ToString()')" name="u-@TableName" value="u">Update</label>
                    <label class="col-md-1"><input type="checkbox" id="d-@TableName" onclick="enable_toggle('@TableName.ToString()')" name="d-@TableName" value="d">Delete</label>
                </div>

                <div id="read-@TableName" style="display:none;" class=" col-md-5">
                    <h4 class="text-success">Read</h4>

                    <a href="javascript:selectToggle(true, 'read-@TableName');" class="text-white">Select All</a> <span class="text-white-50">|</span> <a href="javascript:selectToggle(false, 'read-@TableName');"><span class="text-white">None</span></a>
                    <br />
                    @foreach (var col in table.Value)
                    {
                        string ColName = col.ToString();
                        <p>
                            <input type="checkbox" name="readvalues-@TableName" id="read-@TableName-@ColName" value="@ColName" class="text-white"><span class="text-white-50"> @ColName</span>
                        </p>
                    }

                </div>
                <br />



                <div id="write-@TableName" style="display:none;" class="border border-dark col-md-3">
                    <h4>Write</h4>
                    <a href="javascript:selectToggle(true, 'write-@TableName');"class="text-white">Select All</a><span class="text-white-50">|</span> <a href="javascript:selectToggle(false, 'write-@TableName');"><span class="text-white">None</span></a>
                <br />
                    @foreach (var col in table.Value)
    {
        string ColName = col.ToString();
        <p>
            <input type="checkbox" name="writevalues-@TableName" id="write-@TableName-@ColName" value="@ColName"><span class="text-white-50"> @ColName</span>

        </p>
    }

</div>
                <br>

            </div>
        }
    </div>
    <div  class="mb-4"style="text-align: center;">
        <button class="btn btn-info" id="saveNnext" type="submit">SAVE & ADD new Role</button>




        <button class="btn btn-success" id="saveNsubmit" type="submit">SAVE & SUBMIT</button>
    </div>
</form>


<script>


    function selectToggle(toggle, parent) {
        var p = document.getElementById(parent);

        var checkboxes = p.getElementsByTagName("input");
        //alert(checkboxes);
        for (var i = 0; i < checkboxes.length; i++) {
            if (toggle) {
                checkboxes[i].checked = true;
            }
            else {
                checkboxes[i].checked = false;
            }
        }
    }

    function enable_toggle(table) {
        //alert("inside enable toggle");
        var c = document.getElementById("c-" + table).checked;
        var r = document.getElementById("r-" + table).checked;
        var u = document.getElementById("u-" + table).checked;
        var d = document.getElementById("d-" + table).checked;

        var read = document.getElementById("read-" + table);
        var write = document.getElementById("write-" + table);

        var readInputs = read.getElementsByTagName("input");
        var writeInputs = write.getElementsByTagName("input");

        if (r) {
            if (c || u || d) {
                //enable read and write
                read.style.display = "block";
                write.style.display = "block";
            } else {
                //enable read disable write
                read.style.display = "block";
                write.style.display = "none";
            }
        } else if (c || u || d) {
            //enable write and disable read
            read.style.display = "none";
            write.style.display = "block";
        } else {
            //disable read and write
            read.style.display = "none";
            write.style.display = "none";
        }
    }
</script>