@page
@model ConfigPortal.Pages.AuthenticationPageModel
@{
    ViewData["Title"] = "AuthenticationPage";
}

<style>
    legend.scheduler-border {
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
    }
</style>

<h1>AuthenticationPage</h1>
<form method="post">
    <div id="rolemaster0" class="border border-dark" style="padding:10px;margin:10px;">
        <h4>Role id</h4>
        <input id="role_id" name="role_id" class="input-sm input--style-5 col-sm-3" type="text" />
        <br>
        <h4>Role Name</h4>
        <input id="role_name" name="role_name" class="input--style-5 col-sm-3" type="text" />
        <br>
        <br>


        @foreach (var table in Model.dbstructure.Properties())
        {
            <div class="border border-dark" style="padding:10px;margin:10px;">
                @{string TableName = table.Name.ToString();}

                <h4>Table Name : @TableName</h4>

                <br />


                <h4>Column Operation</h4>
                <div class="border border-dark ">
                    <label class="col-md-1"><input type="checkbox" id="c-@TableName" onclick="enable_toggle('@TableName.ToString()')" name="c-@TableName" value="c">Create</label>
                    <label class="col-md-1"><input type="checkbox" id="r-@TableName" onclick="enable_toggle('@TableName.ToString()')" name="r-@TableName" value="r">Read</label>
                    <label class="col-md-1"><input type="checkbox" id="u-@TableName" onclick="enable_toggle('@TableName.ToString()')" name="u-@TableName" value="u">Update</label>
                    <label class="col-md-1"><input type="checkbox" id="d-@TableName" onclick="enable_toggle('@TableName.ToString()')" name="d-@TableName" value="d">Delete</label>
                </div>

                <div id="read-@TableName" style="display:none;" class="border border-dark col-md-3">
                    <h4>Read</h4>

                    Select <a href="javascript:selectToggle(true, 'read-@TableName');">All</a> | <a href="javascript:selectToggle(false, 'read-@TableName');">None</a>
                    @foreach (var col in table.Value)
                    {
                        string ColName = col.ToString();
                        <p>
                            <input type="checkbox" name="readvalues-@TableName" id="read-@TableName-@ColName" value="@ColName">@ColName
                        </p>
                    }

                </div>
                <br />



                <div id="write-@TableName" style="display:none;" class="border border-dark col-md-3">
                    <h4>Write</h4>
                    Select <a href="javascript:selectToggle(true, 'write-@TableName');">All</a> | <a href="javascript:selectToggle(false, 'write-@TableName');">None</a>
                    @foreach (var col in table.Value)
                    {
                        string ColName = col.ToString();
                        <p>
                            <input type="checkbox" name="writevalues-@TableName" id="write-@TableName-@ColName" value="@ColName">@ColName
                        </p>
                    }

                </div>
                <br>

            </div>
        }
    </div>
    <button class="btn btn-info" id="saveNnext" type="submit">SAVE & ADD new Role</button>




    <button class="btn btn-success" id="saveNsubmit" type="submit">SAVE & SUBMIT</button>
</form>


<script>


    function selectToggle(toggle, parent) {
        var p = document.getElementById(parent);

        var checkboxes = p.getElementsByTagName("input");
        //alert(checkboxes);
        for (var i = 0; i < checkboxes.length; i++) {
            if (toggle) {
                checkboxes[i].checked = true;
            }
            else {
                checkboxes[i].checked = false;
            }
        }
    }

    function enable_toggle(table) {
        //alert("inside enable toggle");
        var c = document.getElementById("c-" + table).checked;
        var r = document.getElementById("r-" + table).checked;
        var u = document.getElementById("u-" + table).checked;
        var d = document.getElementById("d-" + table).checked;

        var read = document.getElementById("read-" + table);
        var write = document.getElementById("write-" + table);

        var readInputs = read.getElementsByTagName("input");
        var writeInputs = write.getElementsByTagName("input");

        if (r) {
            if (c || u || d) {
                //enable read and write
                read.style.display = "block";
                write.style.display = "block";
            } else {
                //enable read disable write
                read.style.display = "block";
                write.style.display = "none";
            }
        } else if (c || u || d) {
            //enable write and disable read
            read.style.display = "none";
            write.style.display = "block";
        } else {
            //disable read and write
            read.style.display = "none";
            write.style.display = "none";
        }
    }
</script>